In [2]:
# Realizamos las importaciones d nuestras librerias
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv("ratings.csv")
streamings = pd.read_csv("streaming_database.csv")

In [4]:
#Validamos la forma de nuestro dataset
ratings.shape

(22998, 2)

In [31]:
#Validamos la forma de nuestro dataset
streamings.shape

(22998, 15)

In [5]:
ratings

      movieId  score
0         as1     69
1        as10     68
2       as100     72
3      as1000     71
4      as1001     71
...       ...    ...
22993   ns995     70
22994   ns996     72
22995   ns997     70
22996   ns998     71
22997   ns999     69

[22998 rows x 2 columns]

In [ ]:
streamings

In [6]:
#Observamos que los nombres de las columnas con los datos de "movieId" e "id"
# los cuales traen la misma informacion tienen diferente nombre
# por lo tanto tranformamos el nombre de la columna "movieId" para que coincida
ratings.rename(columns={'movieId': 'id'}, inplace=True)

In [10]:
# Unimos nuestrors 2 datasets
dataset = pd.merge(streamings, ratings, on='id')

In [11]:
#Verificamos que la columna score del dataset ratings 
# se unio al de streaming por medio de la columna "id"
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  object
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   22516 non-null  float64
 14  duration_type  22516 non-null  object
 15  score          22998 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 3.0+ MB

#### Creamos una columna de plataformas de streaming

In [23]:
#Creamos la función para clasificar segun su 'id'
def get_platform(id):
    if id.startswith('a'):
        return 'amazon'
    elif id.startswith('n'):
        return 'netflix'
    elif id.startswith('h'):
        return 'hulu'
    elif id.startswith('d'):
        return 'disney'
    else:
        return 'desconocido'

In [25]:
#Creamos la columna plataforma mediante el metodo apply
dataset['platform'] = dataset['id'].apply(get_platform)

In [32]:
#Validamos que se haya creado la columna
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  object
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   22516 non-null  float64
 14  duration_type  22516 non-null  object
 15  score          22998 non-null  int64
 16  platform       22998 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 3.2+ MB

#### Creamos el CSV final para ser consumido por nuestra API

In [27]:
# dataset.to_csv("data_streaming.csv", index=False)