### Transformaciones

In [1]:
# Realizamos las importaciones d nuestras librerias
import pandas as pd
import numpy as np

In [2]:
# Importamos los archivos CSV, uno para cada servicio de streaming
Amazon = pd.read_csv("datasets/amazon_prime_titles.csv")
Disney = pd.read_csv("datasets/disney_plus_titles.csv")
Hulu = pd.read_csv("datasets/hulu_titles.csv")
Netflix = pd.read_csv("datasets/netflix_titles.csv")

In [3]:
# Verificamos la estructura de nuestros datasets
print(Amazon.shape)
print(Disney.shape)
print(Hulu.shape)
print(Netflix.shape)

(9668, 12)
(1450, 12)
(3073, 12)
(8807, 12)

In [4]:
Amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [5]:
Disney.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...

In [6]:
Hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

In [7]:
Netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

##### Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [8]:
# Generamos el campo en el dataset de Amazon
Amazon.insert(loc=0, column="id", value="a" + Amazon["show_id"])

In [9]:
# Verificamos
Amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9668 non-null   object
 1   show_id       9668 non-null   object
 2   type          9668 non-null   object
 3   title         9668 non-null   object
 4   director      7586 non-null   object
 5   cast          8435 non-null   object
 6   country       672 non-null    object
 7   date_added    155 non-null    object
 8   release_year  9668 non-null   int64
 9   rating        9331 non-null   object
 10  duration      9668 non-null   object
 11  listed_in     9668 non-null   object
 12  description   9668 non-null   object
dtypes: int64(1), object(12)
memory usage: 982.0+ KB

In [10]:
# Generamos el campo en el dataset de Disney
Disney.insert(loc=0, column="id", value="d" + Disney["show_id"])

In [11]:
# Verificamos
Disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1450 non-null   object
 1   show_id       1450 non-null   object
 2   type          1450 non-null   object
 3   title         1450 non-null   object
 4   director      977 non-null    object
 5   cast          1260 non-null   object
 6   country       1231 non-null   object
 7   date_added    1447 non-null   object
 8   release_year  1450 non-null   int64
 9   rating        1447 non-null   object
 10  duration      1450 non-null   object
 11  listed_in     1450 non-null   object
 12  description   1450 non-null   object
dtypes: int64(1), object(12)
memory usage: 147.4+ KB

In [12]:
# Generamos el campo en el dataset de Hulu
Hulu.insert(loc=0, column="id", value="h" + Hulu["show_id"])

In [13]:
# Verificamos
Hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3073 non-null   object
 1   show_id       3073 non-null   object
 2   type          3073 non-null   object
 3   title         3073 non-null   object
 4   director      3 non-null      object
 5   cast          0 non-null      float64
 6   country       1620 non-null   object
 7   date_added    3045 non-null   object
 8   release_year  3073 non-null   int64
 9   rating        2553 non-null   object
 10  duration      2594 non-null   object
 11  listed_in     3073 non-null   object
 12  description   3069 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 312.2+ KB

In [14]:
# Generamos el campo en el dataset de Hulu
Netflix.insert(loc=0, column="id", value="n" + Netflix["show_id"])

In [15]:
# Verificamos
Netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8807 non-null   object
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8797 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(1), object(12)
memory usage: 894.6+ KB

In [16]:
# Unimos los 4 datasets
data = Amazon.append(Disney).append(Hulu).append(Netflix)

C:\Users\luisf\AppData\Local\Temp\ipykernel_2500\1520922619.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = Amazon.append(Disney).append(Hulu).append(Netflix)
C:\Users\luisf\AppData\Local\Temp\ipykernel_2500\1520922619.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = Amazon.append(Disney).append(Hulu).append(Netflix)

In [17]:
data.shape

(22998, 13)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

In [19]:
streaming = [Amazon, Disney, Hulu, Netflix]
data1 = pd.concat(streaming)

In [20]:
data1.shape

(22998, 13)

In [21]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

##### Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [22]:
# Verificamos la sumatoria de nulos en general
data.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
dtype: int64

In [23]:
# Rellenamos los nulos del campo rating con 'G'
data['rating'].fillna('G', inplace=True)

In [24]:
# Volvemos a verificar los nulos en rating
data.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating              0
duration          482
listed_in           0
description         4
dtype: int64

In [25]:
# Validamos algunos campos modificados
data['rating'].head(10)

0      G
1    13+
2      G
3      G
4      G
5      G
6      G
7      G
8      G
9      G
Name: rating, dtype: object

##### De haber fechas, deberán tener el formato AAAA-mm-dd

In [26]:
# Observamos el formato de fecha de nuestra columna 
data['date_added'].head(5)

0    March 30, 2021
1    March 30, 2021
2    March 30, 2021
3    March 30, 2021
4    March 30, 2021
Name: date_added, dtype: object

In [27]:
# Modificamos el formato de las fechas
data["date_added"] = pd.to_datetime(data["date_added"])

In [28]:
# Verificamos el cambio
data['date_added'].head(5)

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

##### Los campos de texto deberán estar en minúsculas, sin excepciones

In [29]:
# Convertimos a minusculas todos los campos de texto
data["type"] = data["type"].str.lower()
data["title"] = data["title"].str.lower()
data["director"] = data["director"].str.lower()
data["cast"] = data["cast"].str.lower()
data["country"] = data["country"].str.lower()
data["rating"] = data["rating"].str.lower()
data["duration"] = data["duration"].str.lower()
data["listed_in"] = data["listed_in"].str.lower()
data["description"] = data["description"].str.lower()

In [30]:
# Verificamos
data.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...

##### El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [31]:
# Separamos la columna duration y lo guardamos en una variable
split_columns = data["duration"].str.split(" ", n=1, expand=True)

In [32]:
# La primera parte de la columna separada e insertamos en una columna llamada duration_int
data["duration_int"] = split_columns[0]

In [33]:
# La primera parte de la columna separada e insertamos en una columna llamada duration_type
data["duration_type"] = split_columns[1]

In [34]:
# verificamos que se insertaron las 2 nuevas columnas
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   22516 non-null  object
 14  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 2.8+ MB

In [35]:
# validamos los tipos de duración, observamos que hay season y seasons para referirse a lo mismo
data['duration_type'].unique()

array(['min', 'season', 'seasons', nan], dtype=object)

In [36]:
# normalizamos reemplazando el string "seasons" por "season" 
data["duration_type"] = data["duration_type"].str.replace("seasons", "season")

In [37]:
# Verificamos los cambios
data['duration_type'].unique()

array(['min', 'season', nan], dtype=object)

In [38]:
# validamos el tipo de dato de la columna duration_int
data["duration_int"].dtype

dtype('O')

In [39]:
# Casteamos el tipo de dato
data["duration_int"] = data["duration_int"].astype("Int64")

In [40]:
# Verificamos el cambio
data["duration_int"].dtype

Int64Dtype()

##### Verificamos todos nuestros cambios

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   22516 non-null  Int64
 14  duration_type  22516 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(12)
memory usage: 2.8+ MB

##### Colocamos el dataframe de streaming con las transformaciones listo para fusionar con el de raitings

In [42]:
#data.to_csv("streaming.csv", index=False)